$neutral-800: #262626;
$dark-olive: #EB5F5D;
$light-orange: #fce9e1;
$neutral-green: #fbfbfb;
$alice-blue: #f6f7f9;
$grey: #525252;
$neutral-300: #d4d4d4;
$neutral-200: #e5e5e5;
$ghost-white: #ebedf5;
$grey-200: #cecece;
$rose: #e11d48;
$rose-400: #fda4ae4d;
$blue-600: #2563eb;
$bg-home:#4b8c66;