.categoryList__card {
  width: 15rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  transition: 0.5s box-shadow ease-in-out;
  border-radius: 15px;
  cursor: pointer;
}

.categoryList__card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: 15px;
}

.categoryList__image {
  width: 15rem;
  img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
}

.categoryList__title {
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
}
