@use "../utils/mixin" as *;
@use "../utils/variables" as *;

footer {
  border-top: 1px solid $neutral-300;
  height: auto;
  display: flex;
  padding-inline:1rem;
  padding-block:1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: $alice-blue;
  .credit {
    font-size: 16px;
    span {
      color: $dark-orange;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.git__logo{
  display: flex;
  gap:0.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
