@use "../utils/variables" as *;
@use "../utils/breakpoint" as *;

.home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: $alice-blue;
}

.sub__title {
  text-align: center;
  font-size: 18px;
  color: $alice-blue;
  @include md {
    text-align: left;
  }
}
.home__wrapper::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 30rem;
  height: 35rem;
  opacity: 0.4;
  background-image: url("../../../src/assets/mobilebg.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  @include md{
    background-image: none

  }
}
.home__wrapper {
  width: 100%;
  height: 90vh;
  background-color: #009688;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 8rem;
  // background-image: url("../ ../../src/assets/mobilebg.png");
  background-size: 30rem;
  background-position: top;
  background-repeat: no-repeat;

  div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  @include md {
    height: 70vh;
    background-image: url("../../../src/assets/bg.png");
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: 30rem;
    align-items: flex-start;
    padding-top: 7rem;
    padding-bottom: 2rem;
    div {
      gap: 0;
    }
  }

  @include lg {
    height: 82vh;
    background-size: 40rem;
    padding-top: 5rem;
    padding-block: 1rem;
  }
}

.home__title {
  font-size: 45px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  color: white;
  @include md {
    text-align: left;
    width: 60%;
    font-size: 50px;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
  @include lg {
    font-size: 70px;
    line-height: 5rem;
  }
  @include xlg {
    width: 70rem;
  }
}

.search__option {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
  @include md {
    justify-content: flex-start;
  }
}
.search__input {
  min-width: 20rem;
  max-width: 40rem;
  height: 3rem;
  background-color: white;
  border-radius: 18px;
  border: none;
  padding-inline: 1rem;
  font-size: 17px;
}

.search__input:focus {
  border: 2px solid $dark-olive;
  outline: $dark-olive;
}

.search__btn {
  // display: none !important;
  width: 100%;
  @include md {
    width: 20rem;
  }
  display: block !important;
  background-color: $dark-olive !important;
  border-radius: 20px !important;
  height: 3rem;
}
