@use "../utils/mixin" as *;
@use "../utils/breakpoint" as *;
@use "../utils/variables" as *;

.navbar {
  position: fixed;
  //   border: 2px solid red;
  width: 100%;
  height: 4rem;
  background-color: $neutral-green;
  padding-inline: 2rem;
  padding-block: 1rem;
  z-index: 100;
  @include md {
    padding-inline: 4rem;
  }
  @include flex-row();
  align-items: center;
}
.logo {
  width: 3rem;
  height: 3rem;
  img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}

.nav__links {
  @include flex-row();
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__options {
  @include flex-row();
  font-weight: 600;
}

.nav__auth {
  @include flex-row();
  font-weight: 600;
}

.search__bar {
  display: none;
  @include md {
    display: block;
    min-width: 100%;
    width: 20rem;
    height: 2.5rem;
    border-radius: 8px;
    border: 2px solid $neutral-200;
    outline: none;
    padding-inline:1rem ;
    transition: 0.3s box-shadow ease-in-out;
    background-color: $grey-200;
    &:focus {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: white;
      }
  }
}
